.navContainer {
  display: flex;
  justify-content: space-evenly;
  min-height: 4rem;
  background: var(--primary-light);
  align-items: center;
  margin: 0 0 0.2rem 0.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: -3px -3px 3px var(--secondary-light);
  -moz-box-shadow: -3px -3px 3px var(--secondary-light);
  box-shadow: -3px -3px 3px var(--secondary-light);
}

.link {
  border: none;
  background: none;
}
