.headerContainer {
  display: flex;
  min-height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-light);
  margin: 0.2rem 0 0 0.2rem;
  -webkit-box-shadow: 3px 3px 3px var(--secondary-light);
  -moz-box-shadow: 3px 3px 3px var(--secondary-light);
  box-shadow: 3px 3px 3px var(--secondary-light);
}

.headerContainer__NoLogo {
  display: flex;
  min-height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-light);
  margin: 0.2rem 0 0 0.2rem;
  -webkit-box-shadow: 3px 3px 3px var(--secondary-light);
  -moz-box-shadow: 3px 3px 3px var(--secondary-light);
  box-shadow: 3px 3px 3px var(--secondary-light);
}

.logo,
.backButton,
.headerText {
  padding-left: 1rem;
}

.burgerButton {
  padding-right: 1rem;
}

.inputBar {
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.headline {
  padding-left: 1rem;
  width: 11%;
}
