::-webkit-scrollbar {
  display: none;
}

.main {
  display: grid;
  justify-items: center;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.deleteModal {
  border: var(--tertiary-accent) 1px solid;
  border-radius: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  left: 20%;
  width: 60%;
  height: 20%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 998;
  background-color: var(--modal-gradient);
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: var(--primary-light);
  width: 3rem;
  border: var(--tertiary-accent) 1px solid;
  border-radius: 3px;
}
