::-webkit-scrollbar {
  display: none;
}

.main {
  display: grid;
  justify-items: center;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.deleteModal {
  border: var(--tertiary-accent) 1px solid;
  border-radius: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  left: 20%;
  width: 60%;
  height: 20%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 998;
  background-color: var(--modal-gradient);
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonNo {
  background-color: var(--primary-light);
  width: 3rem;
  border: var(--tertiary-accent) 1px solid;
  border-radius: 3px;
}

.button {
  background-color: var(--primary-light);
  width: 3rem;
  border: var(--tertiary-accent) 1px solid;
  border-radius: 3px;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-gradient);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.modalHeader {
  margin-left: 2rem;
}

.burgerButton {
  display: grid;
  justify-items: end;
  margin-top: 1.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.modalText {
  margin: 2rem;
}

.line {
  border-bottom: 1px solid var(--primary-light);
  width: 8rem;
  margin-bottom: 1rem;
}

a[href^='mailto:'] {
  color: var(--primary-light);
  text-decoration: none;
}

.emptyPage {
  color: var(--primary-light);
  margin-top: 2rem;
  text-decoration: none;
}
