@font-face {
  font-family: 'RobotoCondensed';
  src: url('assets/fonts/RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DancingScript';
  src: url('assets/fonts/DancingScript-Regular.ttf');
  font-weight: 400;
}

body {
  margin: 0;
}
